* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  overflow: hidden;
}

button,
select,
input {
  font: inherit;
}
